extends layout.pug

block content
  //This pug template is used to create an about page

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Bramyn Payne

        p Full Stack JavaScript Developer


        .about-bio

          p I am a Full Stack JavaScript Developer that can create the solution for your problems.  I can give your website some upgrades, or I can rebuild a more functional and interesting site. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 616-826-7786
          li payne_bramyn35@yahoo.com

        a.btn-link(href='https://linkedin.com/in/bramyn-payne', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/payneb35', target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back