extends layout.pug

block content
  //This template is for the homepage

  article.portfolio-intro

    h1 My Portfolio

    p This is my portfolio!  This portfolio was built to showcase everything that I can do as a full stack JavaScript developer!  I have multiple different projects here to show some of the different things that I have built, as well as more information about me!


  //This loops through each project in data.json and creates an another project on the page
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in data
        .cell
          a(href= 'project/' + `${project.id}`)
            img.thumbnail(src= `${project.image_urls[0]}`)
            h5 #{project.project_name}

